.profile__profession {
    min-height: 18px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .profile__profession {
        font-size: 14px;
        line-height: 17px;
        justify-self: center;
        min-height: 14px;
    }
}